@font-face {
  font-family: Oswald;
  src: url("./Oswald-VariableFont_wght.ttf");
}

.circle-container a:hover:nth-child(1) {
  background-image: url("../images/img-montage.jpg");
  background-position: center center;
  background-size: cover !important;
  background-repeat: no-repeat;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.circle-container a:nth-child(1) {
  padding-top: 4.5rem;
  color: white;
  text-decoration: none;
}

.circle-container a:nth-child(2) {
  padding-top: 4.5rem;
  color: white;
  text-decoration: none;
}

.circle-container a:nth-child(3) {
  padding-top: 3.5rem;
  color: white;
  text-decoration: none;
}

.circle-container a:nth-child(4) {
  padding-top: 3.5rem;
  color: white;
  text-decoration: none;
}

.circle-container a:nth-child(5) {
  color: white;
  text-decoration: none;
}

.circle-container a:nth-child(6) {
  padding-top: 4.5rem;
  color: white;
  text-decoration: none;
}

.circle-container a:nth-child(7) {
  padding-top: 3.5rem;
  color: white;
  text-decoration: none;
}

.circle-container {
  position: relative;
  width: 25em;
  height: 25em;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  margin: 20em auto 25em;
  background-color: #1e1e1f;
  /*background-image: url("../images/Group 164.png");*/
  background-position: center center;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-size: 11rem;
}

.circle-container > * {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12.5em;
  height: 12.5em;
  margin: -6.25em;
}

.circle-container > *:nth-of-type(1) {
  -webkit-transform: rotate(12.8deg) translate(25em) rotate(-12.8deg);
          transform: rotate(12.8deg) translate(25em) rotate(-12.8deg);
}

.circle-container > *:nth-of-type(2) {
  -webkit-transform: rotate(64.22857deg) translate(25em) rotate(-64.22857deg);
          transform: rotate(64.22857deg) translate(25em) rotate(-64.22857deg);
}

.circle-container > *:nth-of-type(3) {
  -webkit-transform: rotate(115.65714deg) translate(25em) rotate(-115.65714deg);
          transform: rotate(115.65714deg) translate(25em) rotate(-115.65714deg);
}

.circle-container > *:nth-of-type(4) {
  -webkit-transform: rotate(167.08571deg) translate(25em) rotate(-167.08571deg);
          transform: rotate(167.08571deg) translate(25em) rotate(-167.08571deg);
}

.circle-container > *:nth-of-type(5) {
  -webkit-transform: rotate(218.51429deg) translate(25em) rotate(-218.51429deg);
          transform: rotate(218.51429deg) translate(25em) rotate(-218.51429deg);
}

.circle-container > *:nth-of-type(6) {
  -webkit-transform: rotate(269.94286deg) translate(25em) rotate(-269.94286deg);
          transform: rotate(269.94286deg) translate(25em) rotate(-269.94286deg);
}

.circle-container > *:nth-of-type(7) {
  -webkit-transform: rotate(321.37143deg) translate(25em) rotate(-321.37143deg);
          transform: rotate(321.37143deg) translate(25em) rotate(-321.37143deg);
}

.circle-container a {
  color: white;
  background-color: #1e1e1f;
  display: block;
  max-width: 50%;
  border-radius: 50%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  border: solid 5px tomato;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  padding: 0;
  text-align: center;
  padding-top: 3.8em;
  overflow: hidden;
  -webkit-transition: width .5s;
  transition: width .5s;
}

.circle-container a p {
  font-family: Oswald, sans-serif;
  font-weight: bolder;
  font-size: 20px;
}

.circle-container a:hover, .circle-container a:active {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
/*# sourceMappingURL=circles.css.map */