@font-face {
    font-family: Oswald;
    src: url("./Oswald-VariableFont_wght.ttf");
    
  }
  @font-face {
    font-family: MAU;
    src: url('./chinese.msyh.ttf');
  }

.montage_headline {
    padding-top: 10rem;
    display: flex;
}
.montage_headline h1 {
    position: relative;
    font-size: 7rem;
    font-weight: 100;
    font-family: MAU;
    padding-right: 10rem;
    padding-top: 12rem;
}

.ul_montage {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    font-size: medium;
    font-weight: 600;
}
.center_text_montage {
white-space: pre-line;
}

.montage_headline img {
    position: relative;
    padding-top: 5rem;
    padding-right: 5rem;

    max-width: 1250px;
    min-width: 25rem;
    }

.mid_center_section_montage {
    text-align: left;
    position: relative;
    max-width: 60rem;
    max-width: 70%;
    padding-left: 30rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.mid_center_section_montage h2{
    font-size: 2.5rem;
    font-weight: 600;
}

.mid_center_section_montage p{
    font-size: 1.2rem;
    font-weight: 100;
}

.picture_grid_montage { 
    display: grid;
    grid-auto-flow: column;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    max-width: 100rem;
    grid-gap: 2rem;
    justify-items: center;
    margin: auto;
}
.picture_grid_montage > img{
    width: 100%;
    max-width: 20rem;
    max-height: 100%;
    padding-bottom: 5rem;
}


@media only screen and (max-width: 1542px) {
    .montage_headline {
        padding-top: 10rem;
    }
    .montage_headline h1 {
        position: relative;
        font-size: 5rem;
        font-weight: 100;
        font-family: MAU;
        float: left;
        padding-left: 12rem;
        padding-top: 5rem;
        max-width: 35%;
    }
    
    .montage_headline img {
        position: relative;
        font-weight: lighter;
        max-width: 35%;
        min-width: 20rem;
        padding-top: 5rem;
        padding-bottom: 2rem; 
        float: none;
        padding-right: 0rem;
        }
    
    .mid_center_section_montage {
        position: relative;
        margin: auto;
        padding: 5rem;
        width: 60%;
        padding-top: 5rem;
        padding-bottom: 5rem;
        padding-right: 0rem;
    }
}


@media only screen and (max-width: 1242px) {

    .montage_headline h1 {
        position: relative;
        font-size: 4em;
        font-weight: lighter;
        padding-left: 2.5rem;
        padding-bottom: 0rem;
        padding-top: 0rem;
        float: none;
        padding: 0;
        max-width: 100%;
    }
    
    .montage_headline img {
        position: relative;
        font-weight: lighter;
        max-width: 45%;
        min-width: 20rem;
        padding-top: 0rem;
        padding-bottom: 2rem; 
        float: none;
        padding-right: 0rem;
        }
    
    .mid_center_section_montage {
        position: relative;
        margin: auto;
        padding: 0;
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 3rem;
        text-align: center;
        padding-right: 0rem;
    }
    .mid_center_section_montage p{
        font-size: 1rem;
    }
    
    
    .picture_grid_montage { 
        display: grid;
        grid-auto-flow: column;
        position: relative;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 10%;
        max-width: 100rem;
        grid-gap: 2rem;
        justify-items: center;
        margin: auto;
    
    }
    .picture_grid_montage img{
        width: 100%;
        max-width: 20rem;
        max-height: 100%;
        padding-bottom: 5rem;
        transition: transform .2s; /* Animation */
    }
    .picture_grid_montage img:hover{
            transform: scale(1.5);
        }
}