@font-face {
    font-family: Oswald;
    src: url("./Oswald-VariableFont_wght.ttf");

}

@font-face {
    font-family: MAU;
    src: url('./chinese.msyh.ttf');
}

.montage_headline {
    padding-top: 10rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.montage_headline h1 {
    position: relative;
    font-size: 7rem;
    font-weight: 100;
    font-family: MAU;
    padding-top: 5rem;
    align-self: center;
}

.montage_headline img {
    position: relative;
    padding-top: 5rem;
    padding-right: 5rem;
    width: 50vw;
}

.ul_montage {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    font-size: medium;
    font-weight: 600;
}

.center_text_montage {
    white-space: pre-line;
}

.mid_center_section_montage {
    text-align: left;
    position: relative;
    max-width: 60rem;
    max-width: 70%;
    padding-left: 30rem;
    padding-top: 8rem;
    padding-bottom: 10rem;
}

.mid_center_section_montage h2 {
    font-size: 2.5rem;
    font-weight: 600;
}

.mid_center_section_montage p {
    font-size: 1.2rem;
    font-weight: 100;
}

.picture_grid_montage {
    display: grid;
    grid-auto-flow: column;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    max-width: 1400px;
    grid-gap: 1.5rem;
    justify-items: center;
    margin: auto;
}

.picture_grid_montage>img {
    width: 100%;
    max-width: 20rem;
    max-height: 100%;
    padding-bottom: 5rem;
}


@media only screen and (max-width: 1542px) {
    .montage_headline {
        padding-top: 10rem;
        display: flex;
    }

    .montage_headline h1 {
        position: relative;
        font-size: 5rem;
        font-weight: 100;
        font-family: MAU;
        padding-left: 2rem;
        padding-top: 12rem;

    }

    .montage_headline img {
        position: relative;
        font-weight: lighter;
        padding-top: 5rem;
        padding-right: 9rem;
    }

    .mid_center_section_montage {
        position: relative;
        margin: auto;
        padding: 5rem;
        width: 60%;
        padding-top: 5rem;
        padding-bottom: 5rem;
        padding-right: 0rem;
    }
}


@media only screen and (max-width: 1278px) {
    .montage_headline {
        padding-top: 0rem;
        display: flex;
    }

    .montage_headline h1 {
        position: relative;
        font-size: 5rem;
        font-weight: 100;
        font-family: MAU;
        padding-left: 3rem;
        width: 50%;
    }

    .montage_headline img {
        position: relative;
        font-weight: lighter;
        padding-top: 5rem;
        padding-right: 1rem;
        width: 50%;
    }

    .mid_center_section_montage {
        position: relative;
        margin: auto;
        padding: 0;
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 3rem;
        text-align: center;
        padding-right: 0rem;
    }

    .mid_center_section_montage p {
        font-size: 1rem;
    }


    .picture_grid_montage {
        display: grid;
        grid-auto-flow: column;
        position: relative;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 10%;
        max-width: 100rem;
        grid-gap: 2rem;
        justify-items: center;
        margin: auto;

    }

    .picture_grid_montage img {
        width: 100%;
        max-width: 20rem;
        max-height: 100%;
        padding-bottom: 5rem;
        transition: transform .2s;
        /* Animation */
    }

    .picture_grid_montage img:hover {
        transform: scale(1.5);
    }
}

@media only screen and (max-width: 1156px) {
    .montage_headline {
        padding-top: 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .montage_headline h1 {
        position: relative;
        font-size: 8vw;
        font-weight: 100;
        font-family: MAU;
        padding-left: 0rem;
        padding-right: 0rem;
        padding-top: 2rem;
        width: 50%;
    }

    .montage_headline img {
        position: relative;
        font-weight: lighter;
        padding-top: 1rem;
        padding-bottom: 2rem;
        padding-right: 0rem;
        width: 50%;
    }

}