@font-face {
    font-family: Oswald, sans-serif;
    src: url("Oswald-VariableFont_wght.ttf");
  }
.poduction_headline h1 {
    font-family:;
    font-size: 7rem;
    font-weight: lighter;
    float: left;
    padding: 8rem;
}

.poduction_headline img {
   
    font-weight: lighter;
    float: right;
    padding: 5rem;
    }