@font-face {
    font-family: Oswald;
    src: url("Oswald-VariableFont_wght.ttf");


  }

@font-face {
    font-family: MAU;
    src: url('./chinese.msyh.ttf');
  }

.slider {
    position: relative;
    align-content: center;
    padding-left: 32rem;
}
.carousel {
    max-width: 70rem;
    width: 70rem;
    height: 100%;
    position:absolute;
    visibility: hidden;
}
.carousel-item img{
    width: 10rem;
    height: 40rem;
}
.poduction_headline h1 {
    position: relative;
    font-size: 7rem;
    font-weight: 100;
    font-family: MAU;
    float: left;
    padding-left: 11rem;
    padding-top: 12rem;
    max-width: 45%;
    margin: auto;
}

.poduction_headline img {
    position: relative;
    font-weight: lighter;
    float: right;
    padding-top: 5rem;
    padding-right: 5rem;
    margin: auto;
    max-width: 45%;
    min-width: 20rem;
    }

.mid_center_section {
    text-align: left;
    position: relative;
    max-width: 70%;
    padding-left: 30rem;
    padding-top: 40rem;
    padding-bottom: 10rem;
}

.mid_center_section h2{
    font-size: 2.5rem;
    font-weight: 600;
}
.mid_center_section p{
    font-size: 1.2rem;
    font-weight: 100;
}

.picture_grid_produktion { 
    display: grid;
    grid-auto-flow: column;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 120rem;
    grid-gap: 4rem;
    justify-items: center;
    margin: auto;

}
.picture_grid_produktion img{
    width: 100%;
    max-width: 30rem;
    max-height: 100%;
    padding-bottom: 5rem;
    transition: 0.2s all ease-in-out;
}
.swiper {
    width: 100%;
    max-width: 30rem;
    max-height: 100%;
    padding-bottom: 5rem;
  }

  .swiper-slide-container {
    position: absolute;
    top: 15rem;
    padding-top: 0.5rem;
    color: whitesmoke;
    font-size: 1.5rem;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.8);
    width: 15rem;
    height: 4.07rem;
    font-family: Oswald;
  }
  .first_slider_image{
    opacity: 0.8;
  }
  .first_slider_image:hover {
    opacity: 1.0;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .picture_grid_produktion img:hover{
    /* transform: scale(1.1); */
}

.picture_grid_produktion img:hover{
        transform: scale(1.5);
    }


    @media only screen and (max-width: 1542px) {

        .poduction_headline h1 {
            position: relative;
            font-size: 5rem;
            font-weight: 100;
            font-family: MAU;
            float: left;
            padding-left: 12rem;
            padding-top: 11rem;
            max-width: 35%;


        }
        
        .poduction_headline img {
            position: relative;
            font-weight: lighter;
            max-width: 35%;
            min-width: 20rem;
            padding-top: 5rem;
            padding-bottom: 2rem; 
            float: none;
            padding-right: 0rem;
            }
        
        .mid_center_section {
            position: relative;
            margin: auto;
            padding: 5rem;
            width: 60%;
            padding-top: 2rem;
            padding-bottom: 5rem;
            padding-right: 0rem;
        }
        
    }   
@media only screen and (max-width: 1242px) {


    .poduction_headline h1 {
        position: relative;
        font-size: 4em;
        font-weight: lighter;
        padding-left: 2.5rem;
        padding-bottom: 0rem;
        padding-top: 0rem;
        float: none;
        padding: 0;
        max-width: 100%;
    }
    
    .poduction_headline img {
        position: relative;
        font-weight: lighter;
        max-width: 45%;
        min-width: 20rem;
        padding-top: 0rem;
        padding-bottom: 2rem; 
        float: none;
        padding-right: 0rem;
        }
    
    .mid_center_section {
        position: relative;
        margin: auto;
        padding: 0;
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 3rem;
        text-align: center;
        padding-right: 0rem;
    }
    
    .picture_grid_produktion { 
        display: grid;
        grid-auto-flow: column;
        position: relative;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        max-width: 100rem;
        grid-gap: 2rem;
        justify-items: center;
        margin: auto;
    
    }
    .picture_grid_produktion img{
        width: 100%;
        max-width: 20rem;
        max-height: 100%;
        padding-bottom: 5rem;
        transition: transform .2s; /* Animation */
    }
    .picture_grid_produktion img:hover{
            transform: scale(1.5);
        }
}